<cdk-accordion class="example-accordion">
  <cdk-accordion-item
    *ngFor="let item of items; let index = index;"
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index">
    <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      <div class="">{{ item }}</div>
      <span class="example-accordion-item-description">
        Натисни
      </span>
    </div>
    <div
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index">
      <div *ngIf="index === 0">
        <mat-nav-list>
          <a mat-list-item href="{{ channel.link }}" target="_blank" *ngFor="let channel of youtubeChannels">{{ channel.name }}</a>
        </mat-nav-list>
      </div>
      <div *ngIf="index === 1">
        <mat-nav-list>
          <a mat-list-item href="{{ person.link }}" target="_blank" *ngFor="let person of facebookFamous">{{ person.name }}</a>
        </mat-nav-list>
      </div>
      <div *ngIf="index === 2">
        <mat-nav-list>
          <a mat-list-item href="{{ person.link }}" target="_blank" *ngFor="let person of facebookOrdinary">{{ person.name }}</a>
        </mat-nav-list>
      </div>
      <div *ngIf="index === 3">
        <mat-nav-list>
          <a mat-list-item href="{{ channel.link }}" target="_blank" *ngFor="let channel of telegramChannels">{{ channel.name }}</a>
        </mat-nav-list>
      </div>
      <div *ngIf="index === 4">
        <mat-nav-list>
          <a mat-list-item href="{{ site.link }}" target="_blank" *ngFor="let site of sites">{{ site.name }}</a>
        </mat-nav-list>
      </div>
      <div *ngIf="index === 5">
        <mat-nav-list>
          <a mat-list-item href="{{ channel.link }}" target="_blank" *ngFor="let channel of twitterChannels">{{ channel.name }}</a>
        </mat-nav-list>
      </div>
    </div>
  </cdk-accordion-item>
</cdk-accordion>
<div style="padding-top: 10px;margin-bottom: 10px;">
  <img class="img-responsive" src="assets/img/svoboden.gif">
</div>
<div class="creator">
  <a href="{{creator}}" target="_blank" >Създател и модератор</a>
</div>
