body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

html, body {
  height: 100%;
}

img {
  width: auto;
  height: auto;
  max-width: 500px;
}
